*{
	margin:0;
	padding:0;
	align-items:center;
}

.container{
	margin:100px auto 100px auto;
	width:100%;
	max-width:1000px;
    border-radius: 60px;
	background-color:rgb(194, 194, 194);
}

.profile{
	display:flex;
	padding:10px 0px 10px 10px;
}

.info{
	display:flex;
}

.profile strong{
	font-size:30px;
}

.contact{
	margin:40px 25px 0px 350px;
}

.contact li{
	font-family:Calibri;
	padding : 2px;
	display:block;
}

.contact li a:hover{
	font-size:150%;
}


#address {
	font-family:Times New Roman;
}

.container table{
	margin:10px 0px 10px 125px;
	width:50%;
}

.container table th,td{
	text-align:center;
}

.container .rside{
	margin-bottom:auto;
}	

.container .lside{
	margin:2px 10px auto 20px;
}	


#rattr{
    
	border-left:4px solid #000000;
	padding-left:10px;
    border-radius: 100px;
	margin-left:75px;
	}

.info ul{
	margin-left:30px;
}

.info .lside ul li{
	line-height:2em;
}

.container .info .rside ul li{
	margin-left:100px;
	line-height:1.5em;
	padding-right:15px;
}

.container .info .rside ul li a{
	text-decoration:none;
}

.container .info .rside ul li a:hover{
	color:rgb(126, 126, 126);
	text-decoration:underline;
}